/* Application styles */
header, footer {
  background-color: #6A0572; /* Cosmic Violet */
  color: #F0F0F0; /* Supernova White */
  padding: 1em;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 1em;
}

nav ul li a {
  color: #FF6F3D; /* Meteor Orange */
}

nav ul li a.active {
  font-weight: bold;
  color: #FF0066; /* Pulsar Pink */
}

.project img {
  max-width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 1em;
}

.error {
  color: #FF6F3D; /* Meteor Orange */
}
